{% extends "site/layouts/main.html.twig" %}

{% block content %}
  <section class="d-flex align-items-center min-vh-70 bg-skew bg-skew-light bg-skew-main overflow-hidden mb-6 text-left">
    <div class="container">
      <h1 class="display-4 mb-4">
        Профессиональное обучение<br>
        <span
                class="txt-rotate text-primary text-highlight-warning"
                data-period="2000"
                data-rotate='["BIM-проектированию в ARCHICAD", "архитектурному проектированию", "дизайну интерьера"]'
        ></span><span
                class="typed-cursor typed-cursor-blink">|
                </span>
      </h1>
      <p class="lead">
        Создавайте 3D-чертежи и автоматизированную<br>
        документацию быстро и качественно
      </p>
    </div>
  </section>
{% endblock %}