<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    development
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/assets/favicon.svg"><script defer src="/assets/runtime.b32e19b721798938e09c.js"></script><script defer src="/assets/vendors.67cee5117b32ab2e4dae.js"></script><script defer src="/assets/index.5c95156955a871680b0d.js"></script></head>

<body>
  <h1>Home Page (mode: development, template: {{ variable }})</h1>
  <div id="root"></div>
</body>

</html>