<!DOCTYPE html>
<html lang="en">
	<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Home Page (mode: <%= htmlWebpackPlugin.options.title %>, template: {{ variable }})</h1>
	</body>
</html>
