<!DOCTYPE html>
<html lang="en">
	<head>
  <title>development</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/assets/favicon.svg"><script defer src="/assets/index.bundle.js"></script><script defer src="/assets/print.bundle.js"></script></head>
	<body>
		<h1>Home Page (mode: development, template: {{ variable }})</h1>
	</body>
</html>
